<div class="container-fluid">
  <div class="row">
      
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h1 class="page-header">Dashboard</h1>

      <div class="row placeholders">
        <a routerLink="/packages"><div   class="col-xs-6 col-sm-3 placeholder">
          <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
          <h4>Our Packages</h4>
          <span class="text-muted">Manage Packages</span>
        </div></a>
        <div class="col-xs-6 col-sm-3 placeholder">
          <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
          <h4>Our Subscribers</h4>
          <span class="text-muted">Manage subscribers</span>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
          <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
          <h4>Payments</h4>
          <span class="text-muted">Payments Status</span>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
          <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
          <h4>Settings</h4>
          <span class="text-muted">Change Settings</span>
        </div>
      </div>

      <h2 class="sub-header">Delivery Status</h2>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>User</th>
              <th>Pacakges</th>
              <th>Address</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            
              <tr>
              <td>001</td>
              <td>Hamza</td>
              <td>Fruit Weekly package</td>
              <td>Room 8</td>
              <td>Delivered</td>
            </tr>
            <tr>
              <td>002</td>
              <td>Danial </td>
              <td>Vegetable monthly package</td>
              <td>Room 3</td>
              <td>Pending</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>